__pycache__/
*.pyc
.coverage
htmlcov/
build/
LibrosXpress.spec
dist/
dist/
facturas/
.pytest_cache
.sonar
build
htmlcov
.coverage
LibrosXpress.spec
.pytest_cache
.sonar
build
htmlcov
.coverage
LibrosXpress.spec
